{% extends "base.html" %}

{% block title %}Welcome | LionHires{% endblock %}

{% block navbar_title %}
  <a class="navbar-brand" href="/">LionHires</a>
{% endblock %}
{% block navbar_links %}
  <li><a href="/about/">About</a></li>
  <li><a href="/jobs/">Jobs</a></li>
  <li><a href="{{auth}}">Login with LinkedIn</a></li>
{% endblock %}
{% block body %}
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=LionHires');"></div>
        <div class="carousel-caption">
          <h1>The College Student's Internship Solution</h1>
        </div>
      </div>
    <div class="item">
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Internships');"></div>
      <div class="carousel-caption">
        <h1>You can find one here</h1>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Starting Jobs');"></div>
      <div class="carousel-caption">
        <h1>You can also find one of those.</h1>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
  </a>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-check-circle"></i> Find a Job</h3>
        <p>Lorem ipsum dolor sit amet, iuvaret alterum duo et, latine dignissim sententiae sea te. Ignota putent in vel, eu diceret.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-pencil"></i> Post a Job</h3>
        <p>Lorem ipsum dolor sit amet, iuvaret alterum duo et, latine dignissim sententiae sea te. Ignota putent in vel, eu diceret.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-folder-open"></i> Be Happy</h3>
        <p>Lorem ipsum dolor sit amet, iuvaret alterum duo et, latine dignissim sententiae sea te. Ignota putent in vel, eu diceret.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.section -->
<div class="container">
  <div class="row well">
    <div class="col-lg-8 col-md-8">
      <h4>LionHires is the best way for a college student to find a meaningful internship!</h4>
      <p>Lorem ipsum dolor sit amet, iuvaret alterum duo et, latine dignissim sententiae sea te. Ignota putent in vel, eu diceret.</p>
    </div>
    <div class="col-lg-4 col-md-4">
      <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Jobs!</a>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>LionHires Features Include:</h2>
        <ul>
          <li>Find a Job</li>
          <li>Post a Job</li>
          <li>Be a Job</li>
          <li>Love a Job</li>
          <li>Marry a Job</li>
          <li>Kill a Job</li>
          <li><strong>FREE</strong> a Job</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.section -->
{% endblock %}
